parameters:
    tactician:
        bootstrap: handler-mapping-loader.php

services:
    -
        class: League\Tactician\PHPStan\TacticianRuleSet
        tags:
            - phpstan.rules.rule

    -
        class: League\Tactician\PHPStan\HandlerReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: League\Tactician\Handler\Mapping\CommandToHandlerMapping
        factory: League\Tactician\PHPStan\MappingLoader::loadBootstrapFile(%tactician.bootstrap%)
